// variables
$bodyFont: 'Lato', sans-serif;
$h-linksFont: 'Righteous', sans-serif;
$fontSize: 20px;
$primary: #24242C;
$secondary: #97C7CB;
$tertiary: #707070;
$white: white;
$light: #DEDEDE;
$black: black;
$transition: .3s ease;
