@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Bold.woff2") format("woff2"), url("/fonts/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.woff2") format("woff2"), url("/fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Righteous";
  src: url("/fonts/Righteous-Regular.woff2") format("woff2"), url("/fonts/Righteous-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Italic.woff2") format("woff2"), url("/fonts/Lato-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 300;
  line-height: 24px;
}

h1, h2, h3, h4 {
  font-weight: 500;
  line-height: 86px;
  font-family: "Righteous", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 30px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
  font-family: "Righteous", sans-serif;
  text-transform: capitalize;
}
a:hover {
  color: #97C7CB;
  cursor: pointer;
}

img {
  width: 100%;
  display: block;
}

.container {
  max-width: 1400px;
  width: 80vw;
  margin: auto;
}
@media (max-width: 1154px) {
  .container {
    width: 90vw;
  }
}

.btn {
  background-color: #97C7CB;
  color: white;
  padding: 13px 30px;
  width: 200px;
  display: inline-block;
  text-align: center;
}
.btn:hover {
  background-color: #24242C;
  color: white;
}

.btn-white {
  background: white;
  color: #24242C;
  padding: 13px 30px;
  width: 200px;
  display: inline-block;
  text-align: center;
}
.btn-white:hover {
  background: #97C7CB;
  color: white;
}

.text-center {
  text-align: center;
}

header {
  background: url(../img/beautiful-tropical-beach-front-hotel-resort-with-swimming-pool-paradise-destination-vacations-ge.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 30px 0 350px 0;
}
header nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
}
header nav .logo img {
  width: 90px;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header nav ul li {
  padding-left: 20px;
}
header nav ul li a {
  text-transform: uppercase;
}
header nav ul li i {
  padding-left: 7px;
  font-size: 25px;
}
header .header-center {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}
header .header-center article {
  flex: 0 0 49%;
}
@media (max-width: 1251px) {
  header .header-center article {
    flex: 0 0 100%;
  }
}
header .header-center article h1 {
  margin-bottom: 50px;
}
header .header-center article a {
  margin-right: 10px;
  margin-bottom: 10px;
}
header .header-center .header-text {
  flex: 0 0 49%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  padding: 50px;
}
@media (max-width: 1251px) {
  header .header-center .header-text {
    flex: 0 0 100%;
    margin-top: 70px;
  }
}
header .header-small-div {
  background-color: #24242C;
  padding: 20px 30px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45%;
}
@media (max-width: 1251px) {
  header .header-small-div {
    right: 28%;
    text-align: center;
  }
}

.about {
  position: relative;
  background-color: #DEDEDE;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.about article {
  padding: 220px 166px;
  flex: 0 0 55%;
  background-color: #24242C;
}
@media (max-width: 1251px) {
  .about article {
    flex: 0 0 100%;
    padding-top: 300px;
    text-align: center;
  }
}
.about article h2 {
  text-transform: uppercase;
  margin-bottom: 70px;
}
@media (max-width: 1251px) {
  .about article p {
    text-align: justify;
  }
}
.about article a {
  margin-top: 60px;
}
.about article a:hover {
  background-color: white;
  color: #24242C;
}
.about .about-empty {
  background-color: #DEDEDE;
  flex: 0 0 45%;
}
.about .about-img {
  position: absolute;
  top: 25%;
  right: 200px;
  width: 37%;
}
@media (max-width: 1251px) {
  .about .about-img {
    top: 5%;
    right: 32%;
  }
}
.about .about-small-div {
  background-color: #97C7CB;
  padding: 20px 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 45%;
}
@media (max-width: 1251px) {
  .about .about-small-div {
    text-align: center;
    left: 28%;
  }
}

.services {
  background-color: #DEDEDE;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.services .services-all {
  color: #24242C;
  background: url(../img/graphics.png);
  background-position: center;
  background-size: cover;
  width: 37%;
  height: 480px;
  position: absolute;
  top: 300px;
  left: 200px;
  z-index: 2;
  box-shadow: 0px 3px 6px #24242C;
}
@media (max-width: 1251px) {
  .services .services-all {
    top: 5%;
    left: 32%;
  }
}
.services .services-all .services-img {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
.services .services-all .services-img .arch {
  flex: 0 0 50%;
  text-align: center;
  padding: 50px 20px;
  font-size: 25px;
}
.services .services-all .services-img .const,
.services .services-all .services-img .renov,
.services .services-all .services-img .ext {
  flex: 0 0 50%;
  text-align: center;
  padding: 50px 0;
  font-size: 25px;
}
.services .services-all .services-vert {
  border-left: 2px solid #24242C;
  height: 80%;
  position: absolute;
  left: 50%;
  top: 10%;
}
.services .services-all .services-horiz {
  border-bottom: 2px solid #24242C;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 10%;
}
.services .services-empty {
  background-color: #DEDEDE;
  flex: 0 0 45%;
}
@media (max-width: 1251px) {
  .services .services-empty {
    flex: 0 0 100%;
    height: 700px;
  }
}
.services article {
  background-color: #97C7CB;
  padding: 220px 166px;
  flex: 0 0 55%;
  text-align: center;
}
@media (max-width: 1251px) {
  .services article {
    flex: 0 0 100%;
    padding-top: 100px;
  }
}
.services article h2 {
  text-transform: capitalize;
  margin-bottom: 70px;
}
.services article p {
  text-align: justify;
}
.services article .btn {
  background-color: #24242C;
  color: white;
  margin-top: 60px;
}
.services article .btn:hover {
  background-color: white;
  color: #24242C;
}

.numbers {
  background-color: #24242C;
  padding: 100px 0 40px 0;
}
.numbers .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.numbers .container .number {
  flex: 0 0 33.33%;
  text-align: center;
  position: relative;
  padding: 0 10px;
}
.numbers .container .number .num-vertic {
  position: absolute;
  border-left: 2px solid white;
  height: 200px;
  position: absolute;
  right: 0;
  top: calc(50% - 100px);
}
.numbers .container .number2 {
  flex: 0 0 33.33%;
  text-align: center;
  position: relative;
  padding: 0 10px;
}
.numbers .container .number2 .num-vertic2 {
  position: absolute;
  border-left: 2px solid white;
  height: 200px;
  position: absolute;
  right: 0;
  top: calc(50% - 100px);
}
.numbers .container .number3 {
  flex: 0 0 33.33%;
  text-align: center;
  position: relative;
  padding: 0 10px;
}

.team {
  position: relative;
  background-color: #DEDEDE;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.team article {
  padding: 217px 130px 220px 200px;
  flex: 0 0 55%;
  background-color: #24242C;
}
@media (max-width: 1251px) {
  .team article {
    text-align: center;
    flex: 0 0 100%;
    padding: 70px 130px 100px 200px;
  }
}
.team article h2 {
  text-transform: uppercase;
  margin-bottom: 70px;
}
@media (max-width: 1251px) {
  .team article p {
    text-align: justify;
  }
}
.team article a {
  margin-top: 60px;
}
.team article a:hover {
  background-color: white;
  color: #24242C;
}
.team .team-empty {
  flex: 0 0 45%;
  height: 1000px;
}
@media (max-width: 1251px) {
  .team .team-empty {
    height: 180px;
  }
}
.team .team-img {
  position: absolute;
  top: 25%;
  right: 200px;
  width: 37%;
}
@media (max-width: 1251px) {
  .team .team-img {
    text-align: justify;
    top: 70%;
    right: 28%;
  }
}

.workers {
  background-color: #DEDEDE;
}
.workers .container {
  padding: 70px 0 90px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.workers .container .w1 {
  background: url(../img/young-woman-architect-who-controls-sketches-real-estate-project-cozy-work-place.jpg);
  position: relative;
  background-position: center;
  background-size: cover;
  height: 310px;
  width: 465px;
  flex: 0 0 30%;
}
.workers .container .w1 .name {
  box-shadow: 0px 3px 6px black;
  padding: 12px 24px;
  width: 90%;
  background-color: #24242C;
  position: absolute;
  bottom: -10%;
  right: 50%;
  transform: translate(50%);
}
.workers .container .w1 .name h4 {
  line-height: 25px;
}
.workers .container .w2 {
  background: url(../img/portrait-young-male-architect-office.jpg);
  position: relative;
  background-position: center;
  background-size: cover;
  height: 310px;
  width: 465px;
  flex: 0 0 30%;
}
.workers .container .w2 .name {
  box-shadow: 0px 3px 6px black;
  padding: 12px 24px;
  width: 90%;
  background-color: #24242C;
  position: absolute;
  bottom: -10%;
  right: 50%;
  transform: translate(50%);
}
.workers .container .w2 .name h4 {
  line-height: 25px;
}
.workers .container .w3 {
  background: url(../img/smiley-architect-looking-camera.jpg);
  position: relative;
  background-position: center;
  background-size: cover;
  height: 310px;
  width: 465px;
  flex: 0 0 30%;
}
.workers .container .w3 .name {
  box-shadow: 0px 3px 6px black;
  padding: 12px 24px;
  width: 90%;
  background-color: #24242C;
  position: absolute;
  bottom: -10%;
  right: 50%;
  transform: translate(50%);
}
.workers .container .w3 .name h4 {
  line-height: 25px;
}

.testimonials {
  background-color: #97C7CB;
  text-align: center;
  padding-bottom: 75px;
}
.testimonials h2 {
  text-transform: capitalize;
  font-size: 47px;
  padding: 75px 0 76px;
}
.testimonials .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.testimonials .container article {
  background-color: #24242C;
  flex: 0 0 30%;
  padding: 36px 30px 35px 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.testimonials .container article .img {
  margin: auto;
}
.testimonials .container article .img img {
  width: 70px;
}
.testimonials .container article p {
  flex: 0 0 100%;
  margin: 20px 0;
}

footer {
  background-color: #24242C;
  font-size: 16px;
}
footer .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0 27px 0;
}
footer .container .f-left {
  flex: 0 0 30%;
}
footer .container .f-left .logo {
  width: 80px;
  padding-bottom: 40px;
  margin: auto;
}
footer .container .f-left .f-socials {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: auto;
}
footer .container .f-left .f-socials i {
  font-size: 20px;
}
footer .container .f-nav {
  flex: 0 0 20%;
}
footer .container .f-nav li {
  margin-bottom: 20px;
}
footer .container .f-nav li a {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}
footer .container .f-services {
  flex: 0 0 20%;
  margin-bottom: 50px;
}
footer .container .f-services li {
  margin-bottom: 20px;
}
footer .container .f-services li .fs {
  text-transform: uppercase;
}
footer .container .f-services li a {
  font-family: "Lato", sans-serif;
}
footer .container hr {
  flex: 0 0 100%;
  margin-bottom: 22px;
}
footer .container p {
  margin: auto;
}/*# sourceMappingURL=style.css.map */