@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'globals';

// Header
header {
    background: url(../img/beautiful-tropical-beach-front-hotel-resort-with-swimming-pool-paradise-destination-vacations-ge.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 30px 0 350px 0;

    nav {
        @include flex;
        align-items: flex-start;

        .logo {
            img {
                width: 90px;
            }
            @media (max-width: 768px){
                margin-left: 5%;
            }
        }
        #hamburger {
            display: none;
            cursor: pointer;
            height: 27px;
            width: 27px;
            position: absolute;
            top: 0;
            right: 3rem;
            margin-top: 3rem;
            overflow: visible;
            z-index: 2;
            @media (max-width: 768px){
                display: block;
            }
          
            span {
              background: #fff;
              display: block;
              height: 2px;
              opacity: 1;
              position: absolute;
              transition: 0.3s ease-in-out;
          
                &:before, &:after {
                background: #fff;
                display: block;
                height: 2px;
                opacity: 1;
                position: absolute;
                transition: 0.3s ease-in-out;
                }
            
                &:before, &:after {
                content: "";
                }
        
                &:before {
                left: 0px;
                top: -10px;
                width: 27px;
                }
            
                right: 0px;
                top: 13px;
                width: 27px;
        
                &:after {
                left: 0px;
                top: 10px;
                width: 27px;
                }
            }
          
            &.close span {
                &:before {
                    top: 0px;
                    transform: rotate(90deg);
                    width: 27px;
                }
            
                transform: rotate(-45deg);
                top: 13px;
                width: 27px;
          
                &:after {
                    top: 0px;
                    left: 0;
                    transform: rotate(90deg);
                    opacity: 0;
                    width: 0;
                }
            }
        }
        #myLinks {
            z-index: 1;
            min-width: 100%;
            min-height: 50%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            // height: 0;
            visibility: hidden;
            opacity: 0;
            text-align: center;
            padding-top: 20px;
            transition: all 0.3s ease-in-out;
            text-transform: capitalize;
        
            &.overlay {
                visibility: visible;
                opacity: 1;
                padding-top: 100px;
                background: rgba(0, 0, 0, 0.85);
            } 
            ul {
                padding: 0;
              }
            
              li {
                list-style: none;
              }
            
              a {
                color: #fff;
                display: block;
                font-size: 32px;
                margin-bottom: 30px;
                text-decoration: none;
              }   
        }
        ul {
            @include flex;
            @media (max-width: 768px){
                display: none;
            }
            li {
                padding-left: 20px;

                a {
                    text-transform: uppercase;
                }

                i {
                    padding-left: 7px;
                    font-size: 25px;
                }
            }
        }
    }

    .header-center {
        @include flex;
        margin-top: 150px;
        @media (max-width: 768px){
            margin-top: 70px;
            text-align: center;
        }

        article {
            flex: 0 0 49%;
            @media(max-width: 1251px) {
                flex: 0 0 100%;
            }

            h1{
                margin-bottom: 50px;
            }
            a {
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }

        .header-text {
            flex: 0 0 49%;
            background: linear-gradient(rgba($black, 0.8), rgba($black, 0.8));
            padding: 50px;
            @media(max-width: 1251px) {
                flex: 0 0 100%;
                margin-top: 70px;
            }
            @media (max-width: 768px){
                text-align: justify;
                padding: 20px;
            }
        }
    }

    .header-small-div {
        background-color: $primary;
        padding: 20px 30px;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 45%;
        @media(max-width: 1251px) {
            right: calc(50% - 22%);
            text-align: center;
        }
        @media (max-width: 768px){
            width: 100%;
            right: 0;
        }
    }
}


// About us
.about {
    position: relative;
    background-color: $light;
    @include flex;

    article {
        padding: 220px 166px;
        flex: 0 0 55%;
        background-color: $primary;
    
        @media(max-width: 1251px) {
            flex: 0 0 100%;
            padding-top: 300px;
            text-align: center;
        }
        @media (max-width: 768px){
            padding: 60px 5% 100px 5%;
        }

        h2 {
            text-transform: uppercase;
            margin-bottom: 70px;
        }
        p{
            @media(max-width: 1251px) {
                text-align: justify;
            }
        }

        a {
            margin-top: 60px;

            &:hover {
                background-color: $white;
                color: $primary;
            }
        }
    }

    .about-empty {
        background-color: $light;
        flex: 0 0 45%;
    }

    .about-img {
        position: absolute;
        top: calc(50% - 25%);
        right: 200px;
        width: 37%;
        @media(max-width: 1251px) {
            top: 5%;
            right: calc(50% - 18%);
        }
        @media (max-width: 768px){
           width: 100%;
           right: 0;
           top: 100%;
           z-index: 2;
           position: absolute;
        }
    }

    .about-small-div {
        background-color: $secondary;
        padding: 20px 30px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 45%;
        @media(max-width: 1251px) {
            text-align: center;
            left: calc(50% - 22%);
        }
        @media (max-width: 768px){
            width: 90%;
            left: 5%;
        }
    }
}

// Services
.services {
    background-color: $light;
    position: relative;
    @include flex;

    .services-all {
        color: $primary;
        background: url(../img/graphics.png);
        background-position: center;
        background-size: cover;
        width: 37%;
        height: 480px;
        position: absolute;
        top: 300px;
        left: 200px;
        z-index: 2;
        box-shadow: 0px 3px 6px $primary;
        @media(max-width: 1251px) {
            top: 5%;
            left: calc(50% - 18%);
        }
        @media (max-width: 768px){
            width: 100%;
            top: 25%;
            left: 0;
        }

        .services-img {
            @include flex;
            width: 80%;
            margin: auto;
            margin-top: 50px;
           

            .arch {
                flex: 0 0 50%;
                text-align: center;
                padding: 50px 20px;
                font-size: 25px;
                @media(max-width: 768px) {
                    font-size: 14px;
                }
            }

            .const,
            .renov,
            .ext {
                flex: 0 0 50%;
                text-align: center;
                padding: 50px 0;
                font-size: 25px;
                @media(max-width: 768px) {
                    font-size: 14px;
                }
            }
        }

        .services-vert {
            border-left: 2px solid $primary;
            height: 80%;
            position: absolute;
            left: 50%;
            top: calc(50% - 40%);
        }

        .services-horiz {
            border-bottom: 2px solid $primary;
            width: 80%;
            position: absolute;
            top: 50%;
            left: calc(50% - 40%);
        }
    }

    .services-empty {
        background-color: $light;
        flex: 0 0 45%;
        @media(max-width: 1251px) {
            flex: 0 0 100%;
            height: 700px;
        }
        @media(max-width: 768px) {
            height: 1000px;
        }
        
    }

    article {
        background-color: $secondary;
        padding: 220px 166px;
        flex: 0 0 55%;
        text-align: center;
        @media(max-width: 1251px) {
            flex: 0 0 100%;
            padding-top: 100px;
        }
        @media (max-width: 768px){
           padding: 70px 5% 70px 5%;
        }

        h2 {
            text-transform: capitalize;
            margin-bottom: 70px;
        }
        p{
            text-align: justify;
        }

        .btn {
            background-color: $primary;
            color: $white;
            margin-top: 60px;

            &:hover {
                background-color: $white;
                color: $primary;
            }
        }
    }
}

// Numbers
.numbers {
    background-color: $primary;
    padding: 100px 0 40px 0;
    @media (max-width: 768px){
        padding: 50px 5% 0 5%;
    }

    .container {
        @include flex;

        .number {
            flex: 0 0 33.33%;
            text-align: center;
            position: relative;
            padding: 0 10px;
            @media (max-width: 768px){
                flex: 0 0 100%;

            }

            .num-vertic {
                position: absolute;
                border-left: 2px solid $white;
                height: 200px;
                position: absolute;
                right: 0;
                top: calc(50% - 100px);
                @media (max-width: 768px){
                    border-left: 0;
                    border-bottom: 1px solid $white;
                    width: 90%;
                    left: 5%;
                }
            }
        }

        .number2 {
            flex: 0 0 33.33%;
            text-align: center;
            position: relative;
            padding: 0 10px;
            @media (max-width: 768px){
                flex: 0 0 100%;
                padding-top: 20px;
            }

            .num-vertic2 {
                position: absolute;
                border-left: 2px solid $white;
                height: 200px;
                position: absolute;
                right: 0;
                top: calc(50% - 100px);
                @media (max-width: 768px){
                    border-left: 0;
                    border-bottom: 1px solid $white;
                    width: 90%;
                    left: 5%;
                }
            }
        }

        .number3 {
            flex: 0 0 33.33%;
            text-align: center;
            position: relative;
            padding: 0 10px;
            @media (max-width: 768px){
                flex: 0 0 100%;
                padding-top: 20px;
            }
        }
    }
}

// Team
.team {
    position: relative;
    background-color: $light;
    @include flex;

    article {
        padding: 217px 130px 220px 200px;
        flex: 0 0 55%;
        background-color: $primary;
        @media(max-width: 1251px) {
            text-align: center;
            flex: 0 0 100%;
            padding: 70px 130px 100px 200px;
        }
        @media (max-width: 768px){
            padding: 0 5% 10% 5%;
        }

        h2 {
            text-transform: uppercase;
            margin-bottom: 70px;
            @media (max-width: 768px){
                font-size: 40px;
                margin-bottom: 30px;
            }
        }
        p{
            @media(max-width: 1251px) {
                text-align: justify;
            }
        }

        a {
            margin-top: 60px;

            &:hover {
                background-color: $white;
                color: $primary;
            }
        }
    }

    .team-empty {
        flex: 0 0 45%;
        height: 1000px;
        @media(max-width: 1251px) {
            height: 180px;
        }
    }

    .team-img {
        position: absolute;
        top: calc(50% - 25%);
        right: 200px;
        width: 37%;
        @media(max-width: 1251px) {
            text-align: justify;
            top: calc(70%);
            right: calc(50% - 22%);
        }
        @media (max-width: 768px){
            
            width: 100%;
            right: 0;
            top: 78%;
        }
    }
}

.workers {
    background-color: $light;

    .container {
        padding: 70px 0 90px 0;
        @include flex;
        padding: 50% 0 50% 0;

        .w1 {
            background: url(../img/young-woman-architect-who-controls-sketches-real-estate-project-cozy-work-place.jpg);
            position: relative;
            background-position: center;
            background-size: cover;
            height: 310px;
            width: 465px;
            flex: 0 0 30%;
            @media (max-width: 768px){
                flex: 0 0 100%;
                margin-bottom: 10%;
            }

            .name {
                box-shadow: 0px 3px 6px $black;
                padding: 12px 24px;
                width: 90%;
                background-color: $primary;
                position: absolute;
                bottom: -10%;
                right: 50%;
                transform: translate(50%);

                h4 {
                    line-height: 25px;
                }
            }
        }

        .w2 {
            background: url(../img/portrait-young-male-architect-office.jpg);
            position: relative;
            background-position: center;
            background-size: cover;
            height: 310px;
            width: 465px;
            flex: 0 0 30%;
            @media (max-width: 768px){
                flex: 0 0 100%;
                margin-bottom: 10%;
            }

            .name {
                box-shadow: 0px 3px 6px $black;
                padding: 12px 24px;
                width: 90%;
                background-color: $primary;
                position: absolute;
                bottom: -10%;
                right: 50%;
                transform: translate(50%);

                h4 {
                    line-height: 25px;
                }
            }
        }

        .w3 {
            background: url(../img/smiley-architect-looking-camera.jpg);
            position: relative;
            background-position: center;
            background-size: cover;
            height: 310px;
            width: 465px;
            flex: 0 0 30%;
            @media (max-width: 768px){
                flex: 0 0 100%;
                margin-bottom: 10%;
            }

            .name {
                box-shadow: 0px 3px 6px $black;
                padding: 12px 24px;
                width: 90%;
                background-color: $primary;
                position: absolute;
                bottom: -10%;
                right: 50%;
                transform: translate(50%);

                h4 {
                    line-height: 25px;
                }
            }
        }
    }
}

// Testimonials
.testimonials{
    background-color: $secondary;
    text-align: center;
    padding-bottom: 75px;
    @media (max-width: 768px){
          padding-bottom: 60px;  
    }
    h2{
        text-transform: capitalize;
        font-size: 47px;
        padding: 75px 0 76px;
        @media (max-width: 768px){
            font-size: 30px;
            padding: 30px 0 20px;
        }
    }
    .container{
        @include flex;
        article{
            background-color: $primary;
            flex: 0 0 30%;
            padding: 36px 30px 35px 30px;
            @media (max-width: 768px){
                flex: 0 0 100%;
                text-align: justify;
                margin-bottom: 10px;
            }
            @include flex;
            .img{
                margin: auto;
                img{
                    width: 70px;
                }
            }
            p{
                flex: 0 0 100%;
                margin: 20px 0;
            }
            
        }
    }
}

// Footer
footer{
    background-color: $primary;
    font-size: 16px;
    .container{
        @include flex;
        padding: 60px 0 27px 0;
        @media (max-width: 768px){
            padding: 10% 0 5% 0;
            text-align: center;
        }
        .f-left{
            flex: 0 0 30%;
            @media (max-width: 768px){
                flex: 0 0 100%;
            }
           
            .logo{
                width: 80px;
                padding-bottom: 40px;
                margin: auto;
            }
            .f-socials{
                @include flex;
                width: 50%;
                margin: auto;
                i{
                    font-size: 20px;
                    @media (max-width: 768px){
                        font-size: 30px;
                    }
                }
            }
        }
        .f-nav{
            flex: 0 0 20%;
            @media (max-width: 768px){
                flex: 0 0 100%;
                margin-bottom: 30px;
            }
            li{
                margin-bottom: 20px;
                a{
                    font-family: $bodyFont;
                    text-transform: uppercase;
                }
            }
        }
        .f-services{
            flex: 0 0 20%;
            margin-bottom: 50px;
            @media (max-width: 768px){
                flex: 0 0 100%;
                margin-bottom: 1%;
            }
            li{
                margin-bottom: 20px;
            .fs{
                text-transform: uppercase;
            }
            a{
                font-family: $bodyFont;
            }
            }
        }
        hr{
            flex: 0 0 100%;
            margin-bottom: 22px;
        }
        p{
            margin: auto;
        }
    }
}